@using _00.Common
@{
    ViewBag.Title = "Деталі рейсу";
}

<div class="container">
    <div class="jumbotron">
        <div>
            <h1 align="center">Детальна інформація</h1>
        </div>
        <div class="row" style="margin-top: 42px;">
            <div class="details col-md-6">
                <div>
                    <span>Назва:</span>
                    <span>@ViewBag.model.Name</span>
                </div>
                <div>
                    <span>Відпралення:</span>
                    <span>@DateTimeExpression.ToDayMonthYear(ViewBag.model.LeavingTime)</span>
                </div>
                <div>
                    <span>Прибуття:</span>
                    <span>@DateTimeExpression.ToDayMonthYear(ViewBag.model.Arrives)</span>
                </div>
                <div>
                    <span>Виліт з:</span>
                    <span>@ViewBag.model.AirportFrom (@ViewBag.model.CountryFrom)</span>
                </div>
                <div>
                    <span>Прибуття до:</span>
                    <span>@ViewBag.model.AirportTo (@ViewBag.model.CountryTo)</span>
                </div>
                <div>
                    <span>Вартість:</span>
                    <span>@ViewBag.model.Coast грн.</span>
                </div>
            </div>

            <div class="col-md-1"></div>
            <div class="col-md-4">
                <img src="../../Content/ticket.png" style="width: 280px; opacity: 0.75;"/>
                <a href="@Url.Action("Buy", "Detail", new {id = ViewBag.model.Id})">
                    <button type="button" class="btn btn-warning my-btn" style="font-size: 28px; width: 280px; height: 60px; margin-top: 10px;">ЗАМОВИТИ <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </a>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

    
