@using _00.Common
@{
    ViewBag.Title = "Home Page";
}
<div class="filter">
    <h1 style="margin-top: 0;">ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>
@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>*@

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Назва</th>
            <th>Дата вильоту</th>
            <th>Дата приземлення</th>
            <th>Місце вильоту</th>
            <th>Місце прильоту</th>
            <th>Вартість</th>
        </tr>
        </thead>
        <tbody>
        @{
            int i = 0;
            foreach (var flight in ViewBag.list)
            {
                <tr url="@Url.Action("Flight", "Detail", new {id = flight.Id})" class="highlight @(i++%2 == 0 ? "odd" : "")">
                    <td class="col-md-1">@flight.Id</td>
                    <td class="col-md-2">@flight.Name</td>
                    <td class="col-md-2">@DateTimeExpression.ToDayMonthYear(flight.LeavingTime)</td>
                    <td class="col-md-2">@DateTimeExpression.ToDayMonthYear(flight.Arrives)</td>
                    <td class="col-md-2">@flight.AirportFrom (@flight.CountryFrom)</td>
                    <td class="col-md-2">@flight.AirportTo (@flight.CountryTo)</td>
                    <td class="col-md-1">@flight.Coast грн.</td>
                </tr>
            }
        }
    </tbody>
</table>
</div>